<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css" />
<link rel="stylesheet" href="/assets/css/after-index.css">
<div class="wrap">
    <div class="index-header">
        <h2>{{user.user}}님</h2>
        <h2><span>GueGaGue</span>에 오신걸 환영합니다.</h2>
    </div>
    <div class="index-content swiper">
        <div class="swiper-wrapper">
            <div class="index-lnk swiper-slide">
                <a href="/shop/bedroom">
                    <img src="/images/index/bedroom.png" alt="">
                    <p>침실</p>
                </a>
            </div>
            <div class="index-lnk swiper-slide">
                <a href="/shop/livingroom">
                    <img src="/images/index/livingroom.png" alt="">
                    <p>거실</p>
                </a>
            </div>
            <div class="index-lnk swiper-slide">
                <a href="/shop/kitchen">
                    <img src="/images/index/kitchen.png" alt="">
                    <p>주방</p>
                </a>
            </div>
            <div class="index-lnk swiper-slide">
                <a href="/shop/bathroom">
                    <img src="/images/index/bathroom.png" alt="">
                    <p>욕실</p>
                </a>
            </div>
            <div class="index-lnk swiper-slide">
                <a href="/shop/kids">
                    <img src="/images/index/kids.png" alt="">
                    <p>어린이</p>
                </a>
            </div>
            <div class="index-lnk swiper-slide">
                <a href="/shop/homeoffice">
                    <img src="/images/index/homeoffice.png" alt="">
                    <p>홈오피스</p>
                </a>
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

        <!-- 스크롤바 -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>


<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/after-index.js"></script>