<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/extract.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.1/chroma.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
</head>

<body>
    <form class="container" action="/user/upload" method="post" enctype="multipart/form-data">
        <div class="img-preview-container">
            <p>이미지를 입력해주세요.</p>
        </div>
        <br><br>

        <!-- input-image -->
        <input type="file" id="input-image" accept="image/*" name="input-image">

        <!-- color_pallete -->
        <pre id="color-pallete"></pre>
        <input id="color-array" name="color-array">
        <div>
            <label for="input-image">
                <div class="upload-img-btn">업로드하기</div>
                <input class="upload-submit-btn" type="submit">
            </label>
        </div>
    </form>
    <script src="/assets/js/extract.js"></script>
</body>

</html>