{%extends 'layout.html'%}
{%block content%}
{% include 'submenu.html' %}
{% include 'header.html' %}

<link rel="stylesheet" href="/assets/css/index.css">
<link rel="stylesheet" href="/assets/css/extract.css">


<form class="container" action="/user/upload" method="post" enctype="multipart/form-data">
    <div class="img-preview-container">
        <p>이미지를 입력해주세요.</p>
    </div>
    <br><br>

    <!-- input-image -->
    <input type="file" id="input-image" accept="image/*" name="input-image">

    <!-- color_pallete -->
    <input id="color-pallete" name="color_pallete">
    <pre id="color-array"></pre>
    <div>
        <label for="input-image">
            <div class="upload-img-btn">업로드하기</div>
            <input class="upload-submit-btn" type="submit">
        </label>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.1/chroma.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
<script src="/assets/js/extract.js"></script>

{%include 'footer.html'%}
{%endblock%}