<footer>
    <!-- footer -->
<div id="footer">
    
    <div class="footer-wrap">
        <div class="footer-logo">
            <img id="footer-logo" src="/images/geugageu_logo.png" alt="회사로고">
        </div>

        <div class="footer-link-wrap">
            <a href="" class="clause">약관동의</a>  <!--누르면 약관동의 페이지로 이동 -->
            <span> | </span>
            <a href="" class="clause">개인정보처리방침</a> <!--누르면 개인정보처리방침 페이지로 이동 -->
        </div>

        <div class="footer-info">
            <div class="footer-label">COMPANY | (주)그가그가구 CEO | 김석태 개인정보 보호책임자 | 신범식 BUSINESS LICENSE | 123-45-67897 Address | 광주 동구 제봉로 92 본관 2층</div>
            <div class="footer-label">고객센터 | 1600 - 0000 영업시간 | 평일 09:00 ~ 18:00 (주말 제외) 점심시간 12:50 ~ 14:00 Email | GueGaGue@GueGaGue.com</div>
            <div class="footer-label-last">ⓒ 2023. GueGaGue. All rights reserved.</div>
        </div>
    </div>
</div>
<!-- ----------------------------------------------------------------------------- -->
</footer>