<header>
    <div class="header">
        <div class="header-menubar">
            <i class="fa-solid fa-bars" class="menubar_icon"></i>
        </div>

        <div class="header-logo">
            <a href="#"><img class="logo" src="/images/geugageu_logo.png"/></a>
        </div>

        <div class="header-search">
            <i class="fa-solid fa-magnifying-glass input-icon"></i>
            <div class="header-search-input">
                <form action="">
                    <input class="search-input" type="search" placeholder="Search">
                </form>
            </div>
        </div>

        <div id="after-login">
            <div class="camera-btn">
                <a href=""><i class="fa-solid fa-camera"></i></a>
            </div>
            <div class="user-btn">
                <a href=""><i class="fa-regular fa-user"></i></a>
            </div>
            <div>
                <a href=""><i class="fa-regular fa-heart"></i></a>
            </div>
        </div>

    </div>
    <!-- <hr> -->

</header>