<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homeoffice</title>
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <div class="header-menu">
        <ul class="pd-menu">
            <li class="sub">
                <a href="" id="main-menu">바테이블시스템</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">콤비네이션</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">다리/트레슬</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">테이블상판</a>
                            </p>
                        </ol>
                    </div>
                </div>
            </li>

            <li class="sub">
                <a href="" id="main-menu">컴퓨터책상</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                    
                    </div>
                </div>
            </li>

            <li class="sub">
                <a href="" id="main-menu">스탠딩책상</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                    
                    </div>
                </div>
            </li>


            <li class="sub">
                <a href="" id="main-menu">사무용 의자</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">홈체어</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">사무용 의자</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">회의실의자</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">어린이책상의자</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">게임용의자</a>
                            </p>
                        </ol>
                    </div>
                </div>
            </li>


            <li class="sub">
                <a href="" id="main-menu">독서용스탠드</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                    
                    </div>
                </div>
            </li>


            <li class="sub">
                <a href="" id="main-menu">책상 소품/정리용품</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                    
                    </div>
                </div>
            </li>

            
            <li class="sub">
                <a href="" id="main-menu">케이블/충전기</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">무선 충전기 & 액세서리</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">USB 충전기</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">케이블 정리 용품</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">배터리 & 충전기</a>
                            </p>
                        </ol>

                    </div>
                </div>
            </li>


            <li class="sub">
                <a href="" id="main-menu">노트북 테이블</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                    
                    </div>
                </div>
            </li>


            <li class="sub">
                <a href="" id="main-menu">서랍유닛</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">선빈유닛</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">사무용 선반유닛</a>
                            </p>
                        </ol>
                    </div>
                </div>
            </li>

            <li class="sub">
                <a href="" id="main-menu">선반유닛</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                    
                    </div>
                </div>
            </li>


            <li class="sub">
                <a href="" id="main-menu">기저귀교환대/액세서리</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">기저귀교환대</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">교체 액세서리</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">아기수건</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">영아용 욕조/변기</a>
                            </p>
                        </ol>
                    </div>
                </div>
            </li>


            <li class="sub">
                <a href="" id="main-menu">서류/미디어정리용품</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">서류/미디어수납함</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">메모판</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">파일꽂이</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">신문꽂이</a>
                            </p>
                        </ol>
                    </div>
                </div>
            </li>



           
        </ul>
    </div>
</body>
</html>   
                 