<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kitchen</title>
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <div class="header-menu">
        <ul class="pd-menu">
            <li class="sub">
                <a href="" id="main-menu">주방시스템</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">METOD 메토드 주방</a>
                            </p>
                            <li>
                                <a href="">주방조리대</a>
                            </li>
                            <li>
                                <a href="">주빙 벽패널</a>
                            </li>
                            <li>
                                <a href="">주방 싱크대/수전</a>
                            </li>
                            <li>
                                <a href="">METOD 메토드 주방 액세서리</a>
                            </li>
                            <li>
                                <a href="">METOD 메토드 주방 조명</a>
                            </li>
                            <li>
                                <a href="">METOD 메토드 주방 부품</a>
                            </li>
                            <li>
                                <a href="">METOD 메토드 주방 가전제품</a>
                            </li>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">ENHET 엔헤트 주방</a>
                            </p>
                            <li>
                                <a href="">ENHET 엔헤트 주방 콤비네이션</a>
                            </li>
                            <li>
                                <a href="">ENHET 엔헤트 수납 콤비네이션</a>
                            </li>
                            <li>
                                <a href="">ENHET 엔헤트 주방 조리대</a>
                            </li>
                            <li>
                                <a href="">ENHET 엔헤트 주방 싱크대/수전</a>
                            </li>
                            <li>
                                <a href="">ENHET 엔헤트 주방 액세서리</a>
                            </li>
                            <li>
                                <a href="">ENHET 엔헤트 주방 조명</a>
                            </li>
                            <li>
                                <a href="">ENHET 엔헤트 주방 부품</a>
                            </li>
                            <li>
                                <a href="">ENHET 엔헤트 주방 가전제품</a>
                            </li>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">KNOXHULT 크녹스홀트 주방</a>
                            </p>
                            <li>
                                <a href="">KNOXHULT 크녹스훌트 주방 벽패널</a>
                            </li>
                            <li>
                                <a href="">KNOXHULT 크녹스훌트 주방 싱크대/수전</a>
                            </li>
                            <li>
                                <a href="">KNOXHULT 크녹스훌트 주방 액세서리</a>
                            </li>
                            <li>
                                <a href="">KNOXHULT 크녹스훌트 주방 캐비넷/부품</a>
                            </li>
                            <li>
                                <a href="">KNOXHULT 크녹스훌트 주방 가전제품</a>
                            </li>
                            <li>
                                <a href="">KNOXHULT 크녹스훌트 주방 손잡이</a>
                            </li>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">JARNBODA 예른보다 주방</a>
                            </p>
                            <li>
                                <a href="">JÄRNBODA 예른보다 주방 액세서리</a>
                            </li>
                            <li>
                                <a href="">JÄRNBODA 예른보다 주방 싱크대/수전</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </li>

            <li class="sub">    
                <a href="" id="main-menu">주방 조리대</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">프리컷 조리대</a>
                            </p>
                            <li>
                                <a href="">라미네이트 조리대</a>
                            </li>
                            <li>
                                <a href="">두꺼운 베니어 조리대</a>
                            </li>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">조리대용품</a>
                            </p>
                        </ol>
                    </div>
                </div>
            </li>


            <li class="sub">
                <a href="" id="main-menu">주방 카트/아일랜드</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        
                    </div>
                </div>
            </li>




            <li class="sub">
                <a href="" id="main-menu">주방정리용품</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">서랍칸막이</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">분리수거통</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">선반/서랍</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">경첨/완충장치</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">청소용품정리함</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">커트러리 정리함</a>
                            </p>
                            <li>
                                <a href="">40cm 서랍용 커트러리 정리함</a>
                            </li>
                            <li>
                                <a href="">60cm 서랍용 커트러리 정리함</a>
                            </li>
                            <li>
                                <a href="">80cm 서랍용 커트러리 정리함</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </li>

            <li class="sub">
                <a href="" id="main-menu">식탁</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">원형테이블</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">확장형테이블</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">2인용 식탁</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">4인용 식탁</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">6인용 식탁</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">8인용 식탁</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">10인용 식탁</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">식탁상판/하부프레임</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">벽고정테이블</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">바테이블</a>
                            </p>
                        </ol>
                    </div>
                </div>
            </li>

            <li class="sub">
                <a href="" id="main-menu">주방 팬트리</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        
                    </div>
                </div>
            </li>

            <li class="sub">
                <a href="" id="main-menu">조리도구</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">프라이팬/웍</a>
                            </p>
                            <li>
                                <a href="">프라이팬</a>
                            </li>
                            <li>
                                <a href="">웍</a>
                            </li>
                            <li>
                                <a href="">그릴팬</a>
                            </li>
                            <li>
                                <a href="">소테팬</a>
                            </li>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">냄비/소스팬</a>
                            </p>
                            <li>
                                <a href="">냄비</a>
                            </li>
                            <li>
                                <a href="">조리용품세트</a>
                            </li>
                            <li>
                                <a href="">소스팬</a>
                            </li>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">오븐용기</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">조리용품</a>
                            </p>
                        </ol>
                    </div>
                </div>
            </li>

            <li class="sub">
                <a href="" id="main-menu">식품보관/정리</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">식품용기</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">병/캔</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">양념/조미료스탠드</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">와인랙</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">보냉가방</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">물병.텀블러</a>
                            </p>
                        </ol>
                    </div>
                </div>
            </li>
                
            <li class="sub">
                <a href="" id="main-menu">식기세척용품</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">식기수납/건조대</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">싱크대용품</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">행주/스펀지</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">세척브러시</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">세제통</a>
                            </p>
                        </ol>
                    </div>
                </div>
            </li>

            <li class="sub">
                <a href="" id="main-menu">주방 싱크대/수전</a>
                <span></span>
                <div class="sub-layer">
                    <div class="w1600 inner">
                        <ol class="mc">
                            <p>
                                <a href="">싱크대</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">수전</a>
                            </p>
                        </ol>
                        <ol class="mc">
                            <p>
                                <a href="">싱크대 부품</a>
                            </p>
                        </ol>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>