<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeuGaGue</title>
    <script src="/assets/js/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/header.css">
</head>
<body>
    
    {% block content %}
    {% endblock %}
    <div class="modal">
        <div class="modal-content">
            <a class="btn-close" href="#none">X</a>
            <img class="logo-img" src="/images/geugageu_logo.png" alt="">
            <h2>Login</h2>
            <form method="post" action="/user/login">
                <input type="text" placeholder="아이디" id="id" name="user_id" required>
                <input type="password" placeholder="비밀번호" id="pw" name="user_pw" required>
                <input type="submit" value="로그인" class="btn-submit">
            </form>
            <div class="search">
                <a href="">아이디찾기</a>
                <a href="">비밀번호찾기</a>
                <a href="">회원가입</a>
            </div>
            <div class="kakao-login">
                <img class="kakao-login-btn" src="/images/kakao_login.png" alt=""/>
            </div>
        </div>
    </div>
    <script src="/assets/js/all.min.js"></script>
    <script src="/assets/js/layout.js"></script>
    <script>
        console.log('{{ user }}')
    </script>
</body>
</html>