{%extends 'layout.html'%}
{%block content%}
{% include 'submenu.html' %}
{% include 'header.html' %}
<link rel="stylesheet" href="/assets/css/index.css">
<link rel="stylesheet" href="/assets/css/user-header.css">
<link rel="stylesheet" href="/assets/css/userpage.css">
<nav>
    <div class="wrap">
        <ul>
            <li><a href="/user/like" id="current">좋아요</a></li>
            <li><a href="/user/mypage">내 정보</a></li>
        </ul>
    </div>
    <hr>
</nav>
<div class="wrap userpage-head">
    <h1>내가 찜한 가구들이에요.</h1>
    <table class="container">
        <tr>
            <td class="content"><a href="">
                    <div class="image-container" style="background-image: url('/images/bed.png');"></div>
                    <div class="like-product-desc">
                        <h2>상품명</h2>
                        <p>상품 설명</p>
                        <p class="price">23,700</p>
                    </div>
                </a></td>
            <td class="content"><a href="">
                    <div class="image-container" style="background-image: url('/images/Frame 19.png');"></div>
                    <div class="like-product-desc">
                        <h2>상품명</h2>
                        <p>상품 설명</p>
                        <p class="price">23,700</p>
                    </div>
                </a></td>
            <td class="content"><a href="">
                    <div class="image-container" style="background-image: url('/images/Frame 21.png');"></div>
                    <div class="like-product-desc">
                        <h2>상품명</h2>
                        <p>상품 설명</p>
                        <p class="price">23,700</p>
                    </div>
                </a></td>
            <td class="content"><a href="">
                    <div class="image-container" style="background-image: url('/images/Frame 22.png');"></div>
                    <div class="like-product-desc">
                        <h2>상품명</h2>
                        <p>상품 설명</p>
                        <p class="price">23,700</p>
                    </div>
                </a></td>
        </tr>
        <tr>
            <td class="content"><a href="">
                <div class="image-container" style="background-image: url('/images/Frame 26.png');"></div>
                <div class="like-product-desc">
                    <h2>상품명</h2>
                    <p>상품 설명</p>
                    <p class="price">23,700</p>
                </div>
            </a></td>
        </tr>
    </table>
</div>

<div id="right-side-bar">

</div>
<script src="/assets/js/all.min.js"></script>
<script src="/assets/js/layout.js"></script>
{% include 'footer.html' %}
{% endblock %}