{%extends 'layout.html'%}
{%block content%}
{% include 'submenu.html' %}
{% include 'header.html' %}

{% if favList.length >= 4 %}
{% set len = favList.length %}
{% else %}
{% set len = 4 %}
{% endif %}

<link rel="stylesheet" href="/assets/css/index.css">
<link rel="stylesheet" href="/assets/css/user-header.css">
<link rel="stylesheet" href="/assets/css/userpage.css">
<nav>
    <div class="wrap">
        <ul>
            <li><a href="/user/like" id="current">좋아요</a></li>
            <li><a href="/user/mypage">내 정보</a></li>
        </ul>
    </div>
    <hr>
</nav>
<div class="wrap userpage-head">
    <h1>내가 찜한 가구들이에요.</h1>
    <table class="container">
        {% for i in range(len)%}
        {% if i % 4 == 0 %}
        <tr>
            <td class="content"><a href="/product/{{favList[i].p_id}}">
                    <div class="image-container" style="background-image: url('{{favList[i].img_url}}');"></div>
                    <div class="like-product-desc">
                        <h1>{{favList[i].p_name}}</h1>
                        <p>{{favList[i].p_type}}</p>
                    </div>
                </a></td>
        {% elif i % 4 == 3%}
            <td class="content"><a href="/product/{{favList[i].p_id}}">
                    <div class="image-container" style="background-image: url('{{favList[i].img_url}}');"></div>
                    <div class="like-product-desc">
                        <h1>{{favList[i].p_name}}</h1>
                        <p>{{favList[i].p_type}}</p>
                    </div>
                </a></td>
        </tr>
        {% else %}
        <td class="content"><a href="/product/{{favList[i].p_id}}">
                <div class="image-container" style="background-image: url('{{favList[i].img_url}}');"></div>
                <div class="like-product-desc">
                    <h1>{{favList[i].p_name}}</h1>
                    <p>{{favList[i].p_type}}</p>
                </div>
            </a></td>
        {% endif %}
        {% endfor %}

    </table>
</div>

<div id="right-side-bar">

</div>
<script src="/assets/js/all.min.js"></script>
<script src="/assets/js/layout.js"></script>
{% include 'footer.html' %}
{% endblock %}