
<div class="submenu show" style="visibility: hidden;">
    <div class="submenu-header">
        <div class="submenu-close">
            <i class="fa-solid fa-xmark submenu-close-btn"></i>
        </div>
        <div class="submenu-logo">
            <img class="logo" src="/images/geugageu_logo.png"/>
        </div>
    </div>

    <div class="submenu-content">
        
        <div class="menu">
            <ul class="menu-list">
                <li><a href="/shop/livingroom">거실</a></li>
                <li><a href="/shop/bedroom">침실</a></li>
                <li><a href="/shop/kitchen">주방</a></li>
                <li><a href="/shop/kids">어린이</a></li>
                <li><a href="/shop/homeoffice">홈오피스</a></li>
                <li><a href="/shop/bathroom">욕실</a></li>
            </ul>
        </div>
    </div>
</div>