<div class="submenu-container">
    <div class="submenu show" style="visibility: hidden;">
        <div class="submenu-header">
            <div class="submenu-close">
                <i class="fa-solid fa-xmark submenu-close-btn"></i>
            </div>
            <div class="submenu-logo">
                <img class="logo" src="/images/geugageu_logo.png" />
            </div>
        </div>

        <div class="submenu-content">

            <div class="menu">
                <ul class="menu-list">
                    <li><a href="#">모든제품</a></li>
                    <li><a href="#">거실</a></li>
                    <li><a href="#">침실</a></li>
                    <li><a href="#">주방</a></li>
                    <li><a href="#">어린이</a></li>
                    <li><a href="#">홈오피스</a></li>
                    <li><a href="#">욕실</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>