{%extends 'layout.html'%}
{%block content%}
{% include 'submenu.html' %}
{% include 'header.html' %}
<link rel="stylesheet" href="/assets/css/index.css">
<link rel="stylesheet" href="/assets/css/user-header.css">
<link rel="stylesheet" href="/assets/css/userpage.css">
<nav>
    <div class="wrap">
        <ul>
            <li><a href="/user/like">좋아요</a></li>
            <li><a href="/user/mypage" id="current">내 정보</a></li>
        </ul>
    </div>
    <hr>
</nav>
<div class="wrap horizon section-head">
    <div class="picture-section">
        <h1>사진</h1>
    </div>
    <div class="first-blank"></div>
    <div class="user-info-section">
        <h1>회원정보</h1>
    </div>
</div>
<div class="wrap section horizon" id="picture-info">
    <div class="border-orange picture-section">
        <img src="/{{u_url}}" alt="">
    </div>
    <div class="first-blank"></div>
    <div class="border-orange user-info-section horizon">
        <div class="ul-container vertical">
            <ul>
                <li>닉네임</li>
                <li>아이디</li>
                <li>선호가구</li>
                <li>선호색상</li>
                <li>추천색상</li>
            </ul>
        </div>
        <div class="ul-container vertical">
            <ul>
                <li>{{user.user_nick}}</li>
                <li>{{user.user_id}}</li>
                <li>{{user.p_furniture}}</li>
                <li>
                    {% for i in colors%}
                    <div class="color" id="{{i}}"></div>
                    {%endfor%}
                </li>
                <li>
                    {%for i in ex_color%}
                    <div class="color" id="{{i}}"></div>
                    {%endfor%}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="wrap section-head">
    <h1>찜</h1>
</div>
<div class="wrap section">
    <table class="container border-orange">
        <tr>
            {% set max = 4%}
            {% for i in range(max)%}
            <td class="content"><a href="/product/{{favList[i].p_id}}">
                    <div class="image-container" style="background-image: url('{{favList[i].img_url}}');"></div>
                    <div class="like-product-desc">
                        <h1>{{favList[i].p_name}}</h1>
                        <p>{{favList[i].p_type}}</p>
                    </div>
                </a></td>
            {% endfor %}
        </tr>
    </table>
</div>

<script src="/assets/js/all.min.js"></script>
<script src="/assets/js/layout.js"></script>
{% include 'footer.html' %}
{% endblock %}