* {
    padding: 0;
    margin: 0;
}

.container {
    padding-top : 15vh;
    text-align: center;
    position: relative;
}

.img-preview-container {
    width: 40vw;
    height: 60vh;
    margin: 0 auto;
    border-radius: 1em;
    border: 0.2em dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
}

.img-preview-container p {
    font-size: 1.2em;
    color: gray;
}

.img-preview-container img {
    width: 100%;
    height: 100%;
}

.upload-img-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 45px;
    border: 3px solid #F67329;
    background-color: transparent;
    color: #F67329;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.upload-img-btn:hover {
    background-color: #F67329;
    color: white;
}

.upload-submit-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 45px;
    border: 3px solid #F67329;
    background-color: transparent;
    color: #F67329;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 1vw;
}

.upload-submit-btn:hover {
    background-color: #F67329;
    color: white;
}

#input-image {
    display: none;
}

#color-pallete {
    display: none;
}

pre {
    display:none;
}