/* side menu */

.submenu-icon,
.submenu-close {
    cursor: pointer;
    font-size: 1.5em;
    padding: 1vw
}

.submenu {
    padding: 2vh 0 0 3vw;
    font-size: 1em;
    color: var(--main-color);
    background-color: var(--menu-bar);
    position: fixed;
    z-index: 2;
    height: 100vh;
    transition: all 0.3s ease-in;
    width: 0;
    overflow: hidden;
    transform: translateX(-160px);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.68);
    text-decoration: none;
    list-style: none;
}

.show_menu {
    width: 25vw;
    transform: translateX(0);
}

.submenu-header {
    display: flex;
    height: 10vh;
    align-items: center;
    padding-bottom: 1vh;
}

.submenu-logo {
    width: 100%;
    height: 10vh;
    padding-left: 4vh;
    visibility: hidden;
}

.submenu-content {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

.submenu-close {
    line-height: 10vh;
}

.submenu-icon {
    font-size: 1em;
}

.submenu-content li {
    margin: 4vh 1vw;
}

.submenu-content li:last-child{
    padding-bottom: 20vh;
}

.submenu-content a:hover{
    color: #F67329
}

.submenu-content a {
    font-size : 2em;
    color : black;

}
/* modal */
.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: 10;
    display: none;
}

.modal-content {
    background-color: #EEE9E9;
    width: 20vw;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.modal form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#pw,
#id {
    width: 94%;
    padding: 0 3%;
    height: 5vh;
    margin-top: 18px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.btn-submit {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    height: 5vh;
    padding: 0 10px;
    margin-top: 18px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    color: white;
    background-color: #FE5F05;
}

.btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #FE5F05;
    font-weight: bold;
    font-size: 25px;
    padding: 0 10px;
}

.search {
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
    color: rgb(1, 1, 1);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 2vh;
}

.search a {
    color: rgb(1, 1, 1);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.btn-close {
    color: #FE5F05;
    font-weight: bold;
    font-size: 25px;
    padding: 0 10px;
}

.kakao-login {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 5vh;
}

.logo-img {
    width: 292px;
    height: 70px;
    flex-shrink: 0;
    color: #FE5F05;
    text-align: center;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}

.modal h2 {
    font-weight: 700;
    font-size: 2em;
    padding: 2vh 0;
}
