.join {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.font-grey {
  color: #949494;
}

#pwd1, #pwd2 {
  width: 100%;
  height: 5vh;
  padding: 0 10px;
  margin-top: 3px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.alert {
  margin-top: 2vh;
}

#id, #nick {
  width: 70%;
  height: 5vh;
  padding: 0 10px;
  margin-top: 3px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.id-check, .nick-check {
  width: 20%;
  height: 5vh;
  margin-left: 8%;
  background-color: #FE5F05;
  color: white;
  border: none;
  border-radius: 10px;
}

.join-content>h2 {
  display: flex;
  justify-content: center;
}

.choice-btn {
  width: 12%;
  height: 4vh;
  margin: 0 0 1% 8%;
  background-color: #FE5F05;
  color: white;
  border: none;
  border-radius: 10px;
}

.planlist-content {
  display: flex;
  flex-direction: row;
}

.del-btn {
  width: 5vh;
  height: 3vh;
  background-color: #949494;
  margin-bottom: 0.5%;
  color: white;
  border: none;
  border-radius: 10px;
}

.choice-content {
  border: 1px solid #FE5F05;
  border-radius: 10px;
  padding: 2%;
}

#select-check {
  display: none;
}

#select-check + label {
  border: 1px solid #FE5F05;
  border-radius: 10px;
  padding: 2%;
}

#select-check:checked + label {
  background-color: #FE5F05;
  color: white;
}

.agree-content .agree-content-container {
  border: 1px solid #FE5F05;
  border-radius: 10px;
  padding: 2%;
}
.agree-content .agree-content-container div {
  display: flex;
}

.join-content-submit {
  color: #FE5F05;
  display: flex;
  justify-content: center;
}

.submit {
  width: 60%;
  height: 5vh;
  margin: 0 0 10% 20%;
  border: 1px solid #FE5F05;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}
.submit:hover {
  background-color: #FE5F05;
  color: white;
}

.color-select {
  display: flex;
  flex-direction: column;
}

.color-select-obj {
  display: flex;
}

.color-select-obj input + label {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  margin-left: 1vw;
}

.color-select-obj #black:checked + label, .color-select-obj #brown:checked + label, .color-select-obj #grey:checked + label, .color-select-obj #beige:checked + label, .color-select-obj #white:checked + label, .color-select-obj #blue:checked + label, .color-select-obj #lightblue:checked + label, .color-select-obj #purple:checked + label, .color-select-obj #pink:checked + label, .color-select-obj #green:checked + label, .color-select-obj #yellow:checked + label, .color-select-obj #orange:checked + label, .color-select-obj #red:checked + label {
  border: 0.4em solid #ffd1b6;
}

.color-select-obj input {
  display: none;
}
.color-select-obj .red-color {
  background-color: #f00f00;
}
.color-select-obj .orange-color {
  background-color: #ff9a02;
}
.color-select-obj .yellow-color {
  background-color: #ffdb00;
}
.color-select-obj .green-color {
  background-color: #3b7d22;
}
.color-select-obj .pink-color {
  background-color: #ffb8c3;
}
.color-select-obj .purple-color {
  background-color: #a96ecc;
}
.color-select-obj .lightblue-color {
  background-color: #77ddd0;
}
.color-select-obj .blue-color {
  background-color: #0058a3;
}
.color-select-obj .white-color {
  background-color: white;
  border: 0.1em solid #949494;
}
.color-select-obj .beige-color {
  background-color: #f4f3d7;
}
.color-select-obj .grey-color {
  background-color: #949494;
}
.color-select-obj .brown-color {
  background-color: #814820;
}
.color-select-obj .black-color {
  background-color: black;
}/*# sourceMappingURL=join.css.map */