
main > section > section {
    overflow: hidden;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

article {
    float: left;
    width: 25%;
    height: auto;
    padding-bottom: 5%;
    box-sizing: border-box;
}

.thumb {
    display: flex;
    justify-content: center;
    height: 30vh;
    padding-bottom: 2vh;
}
.image-container {
    width: 80%;
    height: 100%;
    background-color: black;
}

.image-container img {
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 4px;
    /*text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}

.best h3 {
    display: block;
    text-align: left;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.best h3 span {
    display: inline-block;
    margin-left: 2.5em;
    margin-bottom: 1.5em;
    font-weight: bold;
    font-size: 2em;
    color: #F67329;
}

.best a p {
    color: black;
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0;
    
    /*설명이 넘을때 숨기고 ... 표시
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}

.price::after {
    content: "원";
}

main section {
    text-align: center;
}

.slider {
    overflow: hidden;
    width: 100%;
    height: 90%;
    margin: 1.5% 0 5% 0;
    padding-top: 4vh;
    box-shadow: none;
}

.best {
    margin-bottom: 10%;
} 

.badge {
    width: 2em;
    height: 2em;
}

.list ul, ol { list-style: none; }

.list a {
    text-decoration: none;
    color: #111;
}


/* 상품목록 */
.list  .sort {
    margin: 0 0 20px 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
}

.list  .sort  li {
    float: right;
    position: relative;
    padding: 15px 0;
    line-height: 15px;
}

.list  .sort  li  a {
    font-weight: bold;
    display: block;
    padding: 0 10px;
    border-right: 1px solid #ddd;
}

.bxwraper {
    box-shadow: none;
}