nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    margin: 0 auto;
}

nav ul li {
    padding : 2vh 2vw;
    width: 20%;
    text-align: center;
}

nav ul li a {
    color : grey;
}

nav ul li a:hover {
    color: #fe5f05;
}

#current {
    color: black;
}

.wrap+hr {
    width: 90%;
    background-color: #fe5f05;
    height: 0.3vh;
    margin: 0 auto;
}