.section-head {
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.section-head h1 {
    font-size: 2em;
    color: #fe5f05;
}

.section {
    height: 40vh;
}

.horizon {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

#picture-info {
    justify-content: space-between;
}

.border-orange {
    border: 1px #fe5f05 solid;
    width: 100%;
    height: 100%;
}

.picture-section {
    width: 42%;
}

.picture-section>img {
    width: 100%;
    height: 100%;
}

.first-blank {
    width: 3%;
}

.user-info-section {
    width: 55%;
}

.ul-container {
    width: 30%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.ul-container:last-child {
    width: 50%;
    align-items: flex-start;
}

.ul-container ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ul-container li {
    height: 1.5em;
    font-size: 1.5em;
    margin: 1.5vh 0;
    line-height: 1.5em;
}

.color {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: 50%;
}

#black {
    background-color: black;
}

#red {
    background-color: #f00f00;
}

#orange {
    background-color: #ff9a02;
}

#yellow {
    background-color: #ffdb00;
}

#green {
    background-color: #3b7d22;
}

#pink {
    background-color: #ffb8c3;
}

#purple {
    background-color: #a96ecc;
}

#lightblue {
    background-color: #77ddd0;
}

#blue {
    background-color: #0058a3;
}

#white {
    background-color: white;
    outline: 0.1em solid #949494;
}

#beige {
    background-color: #f4f3d7;
}

#grey {
    background-color: #949494;
}

.container {
    height: 40vh;
    width: 100%;
    table-layout: fixed;
}

.container tr {
    height: 40vh;
}

.content {
    width: 20%;
    height: 100%;
    padding: 2.5%;
    vertical-align: middle;
}

.content a {
    width: 100%;
    height: 100%;
    display: block;
}

.image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32vh;
}

.like-product-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-product-desc * {
    padding-top: 1vh;
    color: black;
}

.userpage-head h1 {
    font-size: 2em;
    margin: 7vh 0 2vh;
    text-align: center;
}

#contens-not-exist {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contens-not-exist h1 {
    font-size: 1em;
    padding: 0.5em;
}
.price::after {
    content: "원";
}