* {
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.color-table3 .box13, .color-table3 .box12, .color-table3 .box11, .color-table3 .box10, .color-table3 .box9, .color-table2 .box8, .color-table2 .box7, .color-table2 .box6, .color-table2 .box5, .color-table1 .box4, .color-table1 .box3, .color-table1 .box2, .color-table1 .box1 {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    margin: 2vh 2vh 2vh 2vh;
}

.join-content {
    width: 30%;
}

.join {
    display: flex;
    justify-content: center;
}

#img-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
img {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

.font-grey {
    color: #949494;
}

#pwd1, #pwd2{
    width: 100%;
    height: 5vh;
    padding: 0 10px;
    margin-top: 3px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.alert {
    margin-top: 2vh;
}

#id, #nick {
    width: 70%;
    height: 5vh;
    padding: 0 10px;
    margin-top: 3px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.id-check, .nick-check{
    width: 20%;
    height: 5vh;
    margin-left: 8%;
    background-color: #FE5F05;
    color:white;
    border: none;
    border-radius: 10px;
}
//설문조사
h2 {
    display: flex;
    justify-content: center;
}
// 1. 내가 지금 필요한 가구는?

.choice-btn{
    width: 12%;
    height: 4vh;
    margin-left: 8%;
    background-color: #FE5F05;
    color:white;
    border: none;
    border-radius: 10px;
}

//해결하지못한...문제, 가로정렬하고싶어요
.planlist-content{
    display: flex;
    flex-direction: row;
}

#planlist{
    display: flex; 
    justify-content: flex-end; 
}


.color-table1 {
    display: flex;
    }
    .color-table1 .box1 {
    background-color: #f00f00;
    }
    .color-table1 .box2 {
    background-color: #ff9a02;
    }
    .color-table1 .box3 {
    background-color: #ffdb00;
    }
    .color-table1 .box4 {
    background-color: #3b7d22;
}

.color-table2 {
    display: flex;
    }
    .color-table2 .box5 {
    background-color: #ffb8c3;
    }
    .color-table2 .box6 {
    background-color: #a96ecc;
    }
    .color-table2 .box7 {
    background-color: #77ddd0;
    }
    .color-table2 .box8 {
    background-color: #0058a3;
}

.color-table3 {
    display: flex;
}
.color-table3 .box9 {
    background-color: white;
    border: 0.2px solid #949494;
}
.color-table3 .box10 {
    background-color: #f4f3d7;
}
.color-table3 .box11 {
    background-color: #949494;
}
.color-table3 .box12 {
    background-color: #814820;
}
.color-table3 .box13 {
    background-color: black;
}
//가족구성원(선택)
.choice-content{
    border:1px solid #FE5F05;
    border-radius: 10px;
    padding:2%;
}

//약관동의
.agree-content{
    .agree-content-container{
        border : 1px solid #FE5F05;
        border-radius: 10px;
        padding:2%;
        div {
            display: flex;
        }

    }
    
}

.join-content-submit{
    color: #FE5F05;
    display: flex;
    justify-content: center;
}

//회원가입하기
.submit{
    width: 60%;
    height: 5vh;
    margin: 0 0 10% 20%;
    border:1px solid #FE5F05;
    border-radius: 10px;
    cursor: pointer;
    background-color:white;
    &:hover{
        background-color: #FE5F05;
        color:white;
    }
}