* {
  box-sizing: border-box;
}

.ggg {
  display: flex;
}

.logo-img {
  width: 292px;
  height: 70px;
  flex-shrink: 0;
  color: #FE5F05;
  text-align: center;
  font-family: Jomhuria;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}

.modal {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  height: 100vh;
  display: inline-block;
}

.modal-content {
  background-color: #fff;
  width: 350px;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

/* jQuery Fade In Out Modal */
.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  display: none;
}

.modal-content {
  background-color: #EEE9E9;
  width: 350px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

#email, #id {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  margin-top: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.btn-submit {
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  height: 48px;
  padding: 0 10px;
  margin-top: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  color: white;
  background-color: #FE5F05;
}

.search {
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
  color: rgb(1, 1, 1);
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

.search a {
  color: rgb(1, 1, 1);
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

.btn-close {
  color: #FE5F05;
  font-weight: bold;
  font-size: 2.5em;
  padding: 0 10px;
}

* {
  box-sizing: border-box;
}

.logo-img {
  width: 292px;
  height: 70px;
  flex-shrink: 0;
  color: #FE5F05;
  text-align: center;
  font-family: Jomhuria;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}

.modal {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  height: 100vh;
  display: inline-block;
}

.modal-content {
  background-color: #fff;
  width: 350px;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

/* jQuery Fade In Out Modal */
.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  display: none;
}

.modal-content {
  background-color: #EEE9E9;
  width: 350px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

#id {
  width: 100%;
  height: 5vh;
  padding: 0 10px;
  margin-top: 3px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

#pw {
  width: 100%;
  height: 5vh;
  padding: 0 10px;
  margin-top: 18px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.btn-submit {
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  height: 5vh;
  padding: 0 10px;
  margin-top: 18px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  color: white;
  background-color: #FE5F05;
}

.search {
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
  color: rgb(1, 1, 1);
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 2vh;
}

.search a {
  color: rgb(1, 1, 1);
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

.btn-close {
  color: #FE5F05;
  font-weight: bold;
  font-size: 25px;
  padding: 0 10px;
}

.kakao-login {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  height: 5vh;
}/*# sourceMappingURL=login.css.map */