{%extends 'layout.html'%}
{%block content%}
{% include 'submenu.html' %}
{% include 'header.html' %}
    <div class="wrap">
        <div class="small-wrap" id="info">
            <div class="direction-horizon">
                <div class="content">
                    <img src="/im/bed.png" alt="">
                </div>
                <div class="detail-content">
                    <div>
                        <div class="name direction-horizon">가구입니다~!
                            <div class="mark">
                                <i class="fa-regular fa-bookmark"></i>
                                <i class="fa-regular fa-heart"></i>
                            </div>
                        </div>
                        <div class="price">\가격</div>
                        <p>가구 설명란입니다~</p>
                    </div>
                    <div>
                        <button class="get-btn"><a href="">구매하러 가기</a></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="direciton-vertical" id="section-detail">
            <div class="small-wrap">
                <div class="divide"></div>
                <div class="arrow-btn">
                    <p>제품설명</p><i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="divide"></div>
                <div class="arrow-btn">
                    <p>참고</p><i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="divide"></div>
                <div class="arrow-btn">
                    <p>소재</p><i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="divide"></div>
                <div class="arrow-btn">
                    <p>치수</p><i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="divide"></div>
            </div>
        </div>


        <div class="small-wrap direction-vertical">
            <div>
                <p>스타일링샷</p>
                <div class="divide review-divide"></div>
            </div>
            <div>
                <div class="direction-horizon">
                    <div><img class="style-img" src="./img/bed.png" alt=""></div>
                    <div><img class="style-img" src="./img/bed.png" alt=""></div>
                    <div><img class="style-img" src="./img/bed.png" alt=""></div>
                    <div><img class="style-img" src="./img/bed.png" alt=""></div>
                    <div><img class="style-img" src="./img/bed.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="small-wrap direction-horizon">
            <div class="section review-title direction-vertical">
                <div class="review-title">
                    <div class="title-review" id="title-review-div"><button id="review-btn-btn">리뷰</button></div>
                    <div class="title-review"><button id="write-review-btn">리뷰쓰기</button></div>
                </div>
            </div>
        </div>
        <div>
            <div class="cut"></div>
        </div>

        <div class="direction-horizon">
            <div class="small-wrap review-form">
                <h1>리뷰 작성하기</h1>
                <div class="form-group">
                    <label for="rating">평점</label>
                    <select id="rating" name="rating" required>
                        <option value="" disabled selected>평점을 선택하세요</option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="review">리뷰</label>
                    <div id="editor"></div>
                </div>
                <div class="submit">
                    <button id="submit-btn" type="button">리뷰 작성 완료</button>
                </div>

            </div>
        </div>
    </div>

    <script src="./product-detail.js"></script>

    {% include 'footer.html' %}