$orange: #FE5F05;
$white : #EEE9E9;
$grey: #949494;
$light:#EEE9E9;
$font : 1em;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
}
.content>img {
    width: 40vw;
    object-fit: fill;
}

.detail-content {
    margin: 3vh 3vh 3vh 5vh;
    position: relative;

    .direction-horizon {
        margin-bottom: 1vh;
    }

    .mark {
        width: 20vw;
        position: absolute;
        right: 0;
        text-align: right;
    }

    .mark>i {
        font-size: 1.7em;
        margin-left: 1.5vw;
    }

    .price {
        margin-bottom: 1vh;
    }
}
//가구이름 자동 줄바꿈
.name {
    width: 80%;
    word-break: break-all;
}

.direction-horizon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.direction-vertical {
    display: flex;
    flex-direction: column;
}

//구매하기 버튼
.get-btn {
    margin: 2vh;
    text-decoration: none; //a태그 밑줄 없애기
    border-style: none;
    width: 25vw;
    height: 5vh;
    background-color: #FE5F05;
    color: white;
    border: none;
    border-radius: 2vh;

    a {
        color: white;
    }
}


// 제품설명, 참고, 소재, 치수
.div2{
    margin-left: 8vh;
}

.detail-list {
    border-bottom: 0.2vh solid $light;
    width: 39vw;
    margin:3vh 0 3vh 0;
}
//구분선 - 스타일링샷
.cut {
    padding-bottom: 1vh;
    border-bottom: 0.2vh solid $light;
    margin-bottom: 1vh;
    width: 73vw;

}
//화살표
.arrow-btn{
    display: flex;
    justify-content: space-between;
    width: 39vw;
    &:hover{
        color:$orange;
    }
}

// 스타일링샷
.style-img{
    margin:1vh 0 1vh 0;
}

// 리뷰쓰기

#review-btn-btn {
    background-color: transparent;
}

.review-form {
    padding: 20px;
    border-radius: 1vw;
    width: 70vw;
    display: none;
    h1{
        margin-bottom: 1vh;
    }
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5vh;
}

input[type="text"],select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid $light;
    border-radius: 1vh;
    font-size: $font;
}


//리뷰 작성완료 버튼
.review-title{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    .title-review{
        margin: 0 1vh 0 1vh;
    }
    #write-review-btn {
        background-color: transparent;
        &:hover{
            color:$orange;
        }
    }
}

#submit-btn {
    margin: 1vh;
    background-color: $light;
    color: black;
    border: none;
    border-radius: 1vw;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.submit{
    display: flex;
    justify-content:flex-end; 
    #submit-btn{
        margin:1vh 0;
        &:hover{
            background-color: $orange;
            color:white;
        }
    } 
}
